header .back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  height: 100vh;
  z-index: 2;
}

video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
}

header h1 {
  position: absolute;
  top: 70vh;
}